<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/35800d31-4732-4e9f-88a2-98940c839a63/resourceGroups/container-app-lab/providers/Microsoft.ContainerRegistry/registries/pslabsacr</ResourceId>
    <ResourceName>pslabsacr</ResourceName>
    <ResourceGroup>container-app-lab</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <RegistryUrl>https://pslabsacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>
    </PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c51614c3-6414-478b-8369-6bd5906e1e74</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>